@media only screen and (min-width: 600px) {
  .content-products {
    display: grid;
    grid-template-rows: 121px 1fr;
    background-color: white;
    height: 100%;
    .header-products {
      display: grid;
      grid-template-columns: 1fr 1fr;
      .header-text {
        h1 {
          font-size: 20px;
          margin-left: 18px;
          margin-top: 29px;
          margin-bottom: 0px;
          font-weight: bold;
          //font-family: Montserrat;
          letter-spacing: 0.4px;
          color: #000000a3;
          opacity: 1;
        }
        h2 {
          font-size: 14px;
          margin-left: 18px;
          margin-bottom: 0px;
          font-weight: 550;
          //font-family: Montserrat;
          letter-spacing: 0.28px;
          color: #000000a3;
          opacity: 1;
        }
      }
      .header-action button {
        float: right;
        display: block;
        margin: 65px 17px 10px 0;
        font-family: Roboto;
        letter-spacing: 0.28px;
        color: #000000cc;
        border: 1px solid #000000;
        border-radius: 4px;
        opacity: 1;
      }
    }
    .list-products {
      height: 100%;
      overflow: auto;

      .content-white {
        background-color: white;
      }
      .content-grey {
        background-color: #f1f3f4;
      }
      .content-grey,
      .content-white {
        height: 85px;
        grid-template-areas:
          "imgProduct nameProduct nameProduct nameProduct actionProduct"
          "imgProduct tagCodProduct tagPriceProduct tagPricePromoProduct actionProduct"
          "imgProduct CodProduct PriceProduct PricePromoProduct actionProduct";
        grid-template-columns: 86px 160px 110px 110px 1fr;
        grid-template-rows: 30px 25px 30px;

        display: grid !important;
        .imgProduct {
          padding: 10px;
          grid-area: imgProduct;
        }
        .imgProduct img {
          background-color: white;
          height: 100%;
          width: 100%;
        }
        .actionProduct {
          grid-area: actionProduct;
          .btns-white,
          .btns-grey {
            width: fit-content;
            height: 30px;
            margin-top: 37px;
            margin-right: 6px;
            float: right;
            ::ng-deep .mat-icon {
              height: 24px !important;
              width: 19px !important;
              font-size: 20px !important;
            }
            button {
              height: 37px;
              width: 37px;
              margin-left: 14px;
              color: #333333;
            }
          }

          .btns-grey {
            ::ng-deep button {
              background-color: white;
            }
          }
          .btns-white {
            ::ng-deep button {
              background-color: #f1f3f4;
            }
          }
        }
        .nameProduct {
          grid-area: nameProduct;
          font-weight: bold;
          padding-top: 8px;
          font-family: Roboto;
          letter-spacing: 0px;
          color: #000000cc;
          opacity: 1;
        }
        .tagCodProduct {
          grid-area: tagCodProduct;
          font-size: 11px;
          font-weight: 500;
          padding-top: 5px;
          //font-family: TT Norms Pro;
          letter-spacing: 0.24px;
          color: #00000066;
          opacity: 1;
        }
        .CodProduct {
          grid-area: CodProduct;
          font-weight: 500;
          font-size: 19px;
          //font-family: TT Norms Pro;
          letter-spacing: 0.32px;
          color: #000000;
          opacity: 1;
        }
        .tagPriceProduct {
          grid-area: tagPriceProduct;
          font-size: 11px;
          font-weight: 500;
          padding-top: 5px;
          //font-family: TT Norms Pro;
          letter-spacing: 0.24px;
          color: #00000066;
          opacity: 1;
        }
        .PriceProduct {
          grid-area: PriceProduct;
          font-weight: 500;
          font-size: 19px;
          //font-family: TT Norms Pro;
          letter-spacing: 0.32px;
          color: #000000;
          opacity: 1;
        }
        .tagPricePromoProduct {
          font-size: 11px;
          font-weight: 500;
          padding-top: 5px;
          //font-family: TT Norms Pro;
          letter-spacing: 0.24px;
          color: #00000066;
          opacity: 1;
        }
        .PricePromoProduct {
          grid-area: PricePromoProduct;
          font-weight: 500;
          font-size: 19px;
          //font-family: TT Norms Pro;
          letter-spacing: 0.32px;
          color: #000000;
          opacity: 1;
        }
      }
    }
  }
  ::ng-deep {
    app-modal h1 {
      font-family: Montserrat;
      letter-spacing: 0px;
      color: #707070;
      opacity: 1;
      padding-top: 18px;
      padding-left: 16px;
      padding-bottom: 0;
      margin-bottom: 0 !important;
    }
    app-modal p {
      //font-family: Nunito;
      letter-spacing: 0px;
      color: #707070;
      opacity: 1;
      padding-top: 14px;
      padding-left: 16px;
      margin-top: 0;
    }
    .actions {
      display: grid;
      grid-template-columns: 1fr 176px;
      column-gap: 8px;
      float: right;
      .btn-deletar {
        background-color: black;
        color: white;
        border-radius: 4px;
        opacity: 1;
        height: 36px;
        width: 160px;
      }
      .btn-cancelar {
        border: 1px solid #000000;
        border-radius: 4px;
        opacity: 1;
        height: 36px;
        width: 160px;
      }
    }
  }
}
@media only screen and (max-width: 600px) {
  .content-products {
    display: grid;
    grid-template-rows: 143px 1fr;
    background-color: white;
    height: 100%;
    .header-products {
      display: grid;
      grid-template-rows: 83px 60px;
      .header-text {
        h1 {
          font-size: 19px;
          margin-left: 16px;
          margin-top: 13px;
          margin-bottom: 0px;
          font-weight: 500;
          //font-family: Montserrat;
          letter-spacing: 0.4px;
          color: #000000a3;
          opacity: 1;
        }
        h2 {
          font-size: 13px;
          margin-left: 18px;
          margin-bottom: 0px;
          font-weight: 550;
          //font-family: Montserrat;
          letter-spacing: 0.28px;
          color: #000000a3;
          opacity: 1;
        }
      }
      .header-action {
        margin: 0 auto;
        width: 100%;
      }
      .header-action button {
        margin: 0 16px;
        width: calc(100% - 32px);
        font-family: Roboto;
        letter-spacing: 0.28px;
        color: #000000cc;
        border: 1px solid #000000;
        border-radius: 4px;
        opacity: 1;
      }
    }
    .list-products {
      height: 100%;
      width: 100%;
      position: relative;
      overflow: auto;
      background-color: #f1f3f4;

      .content-white {
        background-color: white;
      }
      .content-grey {
        background-color: #f1f3f4;
      }
      .content-grey,
      .content-white {
        height: 183px;
        width: calc(100% - 32px);
        margin: 0 auto;
        grid-template-areas:
          "imgProduct      nameProduct     nameProduct          nameProduct"
          "imgProduct      tagCodProduct   tagCodProduct        tagCodProduct"
          "imgProduct      CodProduct      CodProduct           CodProduct"
          "tagPriceProduct tagPriceProduct tagPricePromoProduct tagPricePromoProduct"
          "PriceProduct    PriceProduct    PricePromoProduct    PricePromoProduct"
          "actionProduct   actionProduct   actionProduct        actionProduct";
        grid-template-columns: 72px 45px 108px 1fr;
        grid-template-rows: 29px 24px 23px 26px 23px 1fr;
        display: grid !important;

        .imgProduct {
          padding: 8px;
          grid-area: imgProduct;
        }
        .imgProduct img {
          background-color: white;
          height: 100%;
          width: 100%;
        }
        .actionProduct {
          grid-area: actionProduct;
          .btns-white,
          .btns-grey {
            width: fit-content;
            height: 30px;
            margin-top: 10px;
            margin-right: 8px;
            float: right;
            ::ng-deep .mat-icon {
              height: 24px !important;
              width: 19px !important;
              font-size: 20px !important;
            }
            button {
              height: 37px;
              width: 37px;
              margin-left: 14px;
              color: #333333;
            }
          }

          .btns-grey {
            ::ng-deep button {
              background-color: white;
            }
          }
          .btns-white {
            ::ng-deep button {
              background-color: #f1f3f4;
            }
          }
        }
        .nameProduct {
          padding: 10px 8px 0 0;
          grid-area: nameProduct;
          font-weight: bold;
          padding-top: 8px;
          font-family: Roboto;
          letter-spacing: 0px;
          color: #000000cc;
          opacity: 1;
        }
        .tagCodProduct {
          grid-area: tagCodProduct;
          font-size: 11px;
          font-weight: 500;
          padding-top: 5px;
          //font-family: TT Norms Pro;
          letter-spacing: 0.24px;
          color: #00000066;
          opacity: 1;
        }
        .CodProduct {
          grid-area: CodProduct;
          font-weight: 500;
          font-size: 19px;
          //font-family: TT Norms Pro;
          letter-spacing: 0.32px;
          color: #000000;
          opacity: 1;
        }
        .tagPriceProduct {
          grid-area: tagPriceProduct;
          padding: 12px 0px 0px 8px;
          font-size: 11px;
          font-weight: 500;
          //font-family: TT Norms Pro;
          letter-spacing: 0.24px;
          color: #00000066;
          opacity: 1;
        }
        .PriceProduct {
          grid-area: PriceProduct;
          padding: 4px 0px 0px 8px;
          font-weight: 500;
          font-size: 19px;
          //font-family: TT Norms Pro;
          letter-spacing: 0.32px;
          color: #000000;
          opacity: 1;
        }
        .tagPricePromoProduct {
          font-size: 12px;
          font-weight: 500;
          padding-top: 5px;
          //font-family: TT Norms Pro;
          letter-spacing: 0.24px;
          color: #00000066;
          opacity: 1;
        }
        .PricePromoProduct {
          grid-area: PricePromoProduct;
          padding-top: 4px;
          font-weight: 500;
          font-size: 19px;
          //font-family: TT Norms Pro;
          letter-spacing: 0.32px;
          color: #000000;
          opacity: 1;
        }
      }
    }
  }
  ::ng-deep {
    app-modal h1 {
      font-family: Montserrat;
      letter-spacing: 0px;
      color: #707070;
      opacity: 1;
      padding-top: 18px;
      padding-left: 16px;
      padding-bottom: 0;
      margin-bottom: 0 !important;
    }
    app-modal p {
      //font-family: Nunito;
      letter-spacing: 0px;
      color: #707070;
      opacity: 1;
      padding-top: 14px;
      padding-left: 16px;
      margin-top: 0;
    }
    .actions {
      display: grid;
      grid-template-columns: 50% 50%;
      column-gap: 8px;

      .btn-cancelar {
        float: right;
        border: 1px solid #000000;
        border-radius: 4px;
        opacity: 1;
        height: 36px;
        width: 160px;
        margin-left: 16px;
      }
      .btn-deletar {
        float: left;
        background-color: black;
        color: white;
        border-radius: 4px;
        opacity: 1;
        height: 36px;
        width: 160px;
        margin-right: 16px;
      }
    }
  }
}
