@import 'material-icons/iconfont/material-icons.scss';
@import '~@angular/material/prebuilt-themes/indigo-pink.css'; 

html, body {
    margin: 0 !important;
    height: 100%;
    width: 100%;
    position: relative;
    background-color: #F1F3F4;
    overflow: hidden;
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
::-webkit-scrollbar {
    width: 5px;
    height: 8px;
  }
  ::-webkit-scrollbar-track {
    background: rgba(182, 182, 182, 0.1);
  
    border-radius: 5px;
  }
  ::-webkit-scrollbar-thumb {
    background: rgba(205, 205, 205, 0.1);
    border-radius: 5px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.1);
  }
  